<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
    <h2>HireAI</h2>
    <div>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
</div>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p style="text-align:center; background: rgba(0,255,0,0.2);
                       padding: 10px; border-radius: 8px; margin: 10px 40px;">
                {{ msg }}
            </p>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="hero">
    <h1>AI Recruitment System 🚀</h1>
    <p>Smart hiring for companies & candidates</p>
</div>

<div class="container">
    <div class="box">
        <h3>For Candidates</h3>
        <p>Find your dream job easily</p>
        <a href="/register">Get Started</a>
    </div>

    <div class="box">
        <h3>For Companies</h3>
        <p>Hire the best talent fast</p>
        <a href="/register">Post Jobs</a>
    </div>
</div>

</body>
</html>