<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
    <h2>HireAI</h2>
</div>

<div class="hero">
    <h2>Login</h2>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p style="color: #ffdddd; background: rgba(255,0,0,0.2);
                           padding: 10px; border-radius: 8px;">{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="box">
        <form method="post">
            Role:
            <select name="role">
                <option value="candidate">Candidate</option>
                <option value="company">Company</option>
                <option value="interviewer">Interviewer</option>
            </select><br><br>

            Username:<br>
            <input type="text" name="username" required><br><br>

            Password:<br>
            <input type="password" name="password" required><br><br>

            <button type="submit">Login</button>
        </form>
        <br>
        <a href="/register">Don't have an account? Register</a>
    </div>
</div>

</body>
</html>